<ion-header>
  <ion-toolbar>
    <ion-title>history</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content padding>
	<ion-card style="height:10%">
		<ion-card-header>
			The Recorded Sleep data:</ion-card-header>
	</ion-card>
	<ion-card class = "moond"style="height:35%">
			<ion-card-content *ngFor="let d of ovnd">
				<ion-icon slot="start" name ="moon"></ion-icon>
				{{d.dateString()}}
				{{d.summaryString()}}
			</ion-card-content>
		
	</ion-card>

	<ion-card style="height:10%"><ion-card-header>
		The Recorded Sleepiness data:</ion-card-header></ion-card>
	<ion-card scrolly = "true"  class = "cloudd" style="height:35%">
			<ion-card-content *ngFor="let d of ssnd">
				<ion-icon slot="start" name ="cloud"></ion-icon>
				{{d.dateString()}}
				{{d.summaryString()}}
			</ion-card-content>
		
	</ion-card>

</ion-content>